@media screen and (max-width: 768px) {
  .img-about {
    left: -200px;
    z-index: 1;
  }

  .bg-text-about {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@media screen and (max-width: 640px) {
  .bg-text-about {
    background-color: transparent !important;
  }
}

.bg-sidebar {
  background: rgba(0, 0, 0, 0.5);
}
